/* =========================
   GLOBAL STYLE
===========================*/
body {
    background: #f7f9fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-weight: 500;
    font-size: 43px;
    text-align: center;
    color: #2c3e50;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

/* =========================
   PRODUCT CARDS
===========================*/
.card {
    border: none;
    border-radius: 12px;
    background: white;
    transition: 0.35s ease;
}

    .card:hover {
        transform: translateY(-6px);
        box-shadow: 0 12px 25px rgba(0,0,0,0.10);
    }

.card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

/* =========================
   PRICE STYLE
===========================*/
.text-primary {
    color: #e67e22 !important;
    font-weight: bold;
}

/* =========================
   BUTTON STYLE
===========================*/
.btn-primary {
    background-color: #3498db;
    border: none;
    transition: 0.3s ease;
    border-radius:5px;
}

    .btn-primary:hover {
        background-color: #2c80b4;
    }

.btn-secondary {
    background-color: #95a5a6 !important;
    border: none;
}

/* =========================
   ALERT CUSTOM
===========================*/
.alert {
    border-radius: 8px;
}

/* =========================
   PRODUCT GRID
===========================*/
@media (max-width: 768px) {
    .card-title {
        font-size: 16px;
    }
}

.card-img-top:hover {
    opacity: .8;
    cursor: pointer;
}


