@page
@model MyAmazonstore.Pages.ProduitGestion.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/ProduitCRUD/create.css" />
</head>


<h1>Create</h1>

<h4>Produit</h4>
<hr />
<div class="row" id="CreateProd">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produit.Nom" class="control-label"></label>
                <input asp-for="Produit.Nom" class="form-control" />
                <span asp-validation-for="Produit.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.Prix" class="control-label"></label>
                <input asp-for="Produit.Prix" class="form-control" />
                <span asp-validation-for="Produit.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.Description" class="control-label"></label>
                <input asp-for="Produit.Description" class="form-control" />
                <span asp-validation-for="Produit.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.QtStock" class="control-label"></label>
                <input asp-for="Produit.QtStock" class="form-control" />
                <span asp-validation-for="Produit.QtStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.ImageUrl" class="control-label"></label>
                <input asp-for="Produit.ImageUrl" class="form-control" />
                <span asp-validation-for="Produit.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produit.CategorieId" class="control-label"></label>
                <select asp-for="Produit.CategorieId"
                        class="form-control"
                        asp-items="ViewBag.CategorieId">
                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
